cloude.dibull.com {
    tls bajakprashant1798@gmail.com
    
    handle {
        reverse_proxy nodejs-server:8000 {
            header_up {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}